
<!--footer start----------->
<br><br>


<footer class="page-footer font-small blue">

  <!-- 
        <div class="jumbotron jumbotron-fluid">
    
          <div class="container">
          
            <h1 class="display-4"></h1>
            <div class="row">
            
                <div class="col-6 col-md-3">
                <h4> Contact Us</h4>
                <a href="#">Call <i class="fa fa-phone"></i> </a><br>
                <a href="#">Email <i class="fa fa-envelope"></i></a><br>
    
                </div>
            
                <div class="col-6 col-md-3">
                <h4> Follow us</h4>
                <a href="#">Facebook  <i class="fa fa-facebook"></i></a><br>
                <a href="#">Instagram  <i class="fa fa-instagram"></i></a><br>
                <a href="#">Github <i class="fa fa-github"></i></a><br>
                <a href="#">Linkedin <i class="fa fa-linkedin"></i></a><br><br>
    
    
    
                </div>
                <div class="col-6 col-md-3">
                <h4> About US</h4>
                <a href="#">Contact</a><br>
                <a href="#">Team</a><br>
    
                </div>
            
            <div class="col-6 col-md-3">
                <h4> Links</h4>
                <a href="index.html">Home</a><br>
                <a href="askquestion.html"> Ask Question</a><br>
                <a href="answer.html">Answers</a><br>
                <a href="q_a.html"> List Questions</a><br>
                <a href="questionlook.html">Q_A Section</a><br>
                <a href="signup.html">SignUp</a><br>
                <a href="login.html">Login</a><br>
                <a href="alumni.html">About</a><br>
    
                </div>
            
    
            </div>
             -->


  <div class="footer-copyright text-center py-3" style="color: #215077;">© 2020 Copyright:
    <a href="https://github.com/DevanshuBrahmbhatt/"
      style="color: #215077 !important;"><strong>DevanshuBrahmbhatt</strong> </a>
  </div>

  <!-- </div> -->


  <!-- Copyright -->
  <!-- Copyright -->




  <script src="./js/script.js?v=678"></script>

</footer>