<!-----------------------question ---------------------->
<%- include  ( "partials/navbar") %>

<br><br><div class="container">


<div class="card text-center">

  <div class="card-header">
  <form>
  <!----------------------------------1st-------->
    <!----------------------------------1st-------->
  
 <!----------------------------------2nd------->
  
     <div class="row">
    <div class="col">
	
	<div class="form-group row">
    <label for="title" class="col-sm-2 col-form-label"><h4> <strong> Department </strong> </h4></label>
    <div class="col-sm-10">
      <select class="form-control" id="fdepartment">
	  <option value="" disabled selected type="hidden" id="department" required>Department</option>
	  <option>CE</option>
      <option>IT</option>
      <option>CHEM</option>
      <option>IC</option>
      <option>EC</option>
	  <option>CIVIL</option>
	  <option>Mech</option>
	   <option>Other</option>



    </select>

	   </div>
  </div>
	
      </div>
  </div>
  
 <!-------dept complete-------------->
 
 <!--reltaed topic start -------------->
 
 
     <div class="row">
    <div class="col">
	
	<div class="form-group row">
    <label for="title" class="col-sm-2 col-form-label"><h4> <strong>  Related </strong> </h4></label>
    <div class="col-sm-10">
      <select class="form-control" id="fdepartment">
	  <option value="" disabled selected type="hidden" id="related" required>Related</option>
	  <option>C</option>
      <option>C++</option>
      <option>Java</option>
      <option>Asp</option>
      <option>Blockchain</option>
	  <option>Encryption</option>
	  <option>Hashing</option>
	   <option>Web</option>
	    <option>Other</option>



    </select>

	   </div>
  </div>
	
      </div>
  </div>
  
  <!--related topic------------->
  
    <div class="row">
    <div class="col">
	
	<div class="form-group row">
    <label for="title" class="col-sm-2 col-form-label"><h4><strong> Question </strong> </h4></label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="question" name="question" placeholder="Enter Question">
    </div>
  </div>
	
      </div>
  </div>

  
  
  </div>
  
  </form>
  
  
  
  <div class="card-footer text-muted">
    <!-- <a href="#" class="btn btn-primary">Drop</a> -->
    <input type="submit"></input>
 
  </div>
  
  
</div>

</div>
<!--------article complete----------->



<!-----------------------question completed---------------------->


<%- include  ( "partials/footer") %>


</body>
</html>


