<!-- views/partials/navbar.ejs -->
<navbar>
	<%- include  ( "partials/navbar") %>
</navbar>




<div class="container">

	<div class="row">

		<div class="col-sm-7">

			<h3>Welcome to DCommunity!!</h3><br>
			<h5>DCommunity is non-official Question-Answer Fourm for DDU Students.</h5>
			<p>Here You can Ask your any doubt regarding University,Education and Technology.</p>
			<p>You'll get answer by your own community.</p><br><br>

			<h5>There are some instructions, That you must follow.</h5>
			<p>Any kind of Abusive and Bad language is strictly not allowed.</p>
			<p>If we find something  like that then it won't display on website as well as your account will also blocked for this website.</p>
			<p>This is the platform where you can share your thoughts,knowledge and anything you want to know.</p>
		</div>


		<div class="col-sm-5">

			<img src="./images/pic.jpg" alt="DCommunity"/>


		</div>



	</div>

</div>



<!-----------------------option completed---------------------->


<footer>

	<%- include  ( "partials/footer") %>

</footer>

</body>

</html>