<!-- views/partials/navbar.ejs -->
<navbar>
  <%- include  ( "partials/navbar") %>
</navbar>
<style>
  .h5,
  h5 {

    font-size: 1.75rem;
  }
</style>



<div class="container">





  <div class="row">



    <div class="shadow-lg p-3 mb-5 bg-white rounded border border-primary mx-auto ">

      <h1 style="color: #215077;"><strong> Welcome to DCommunity!! </strong></h1>


    </div>


    <h5 style="color:#54457F">
      <blockquote><strong>1.</strong> DCommunity is non-official Question-Answer Fourm for DDU Students.

    </h5>

    <h5 style="color:#54457F">
      <blockquote><strong>2.</strong> Here You can Ask your any doubt regarding University,Education and Technology.

    </h5>


    <h5 style="color:#54457F">
      <blockquote><strong>3.</strong> You'll get answer by your own community.

    </h5>



    <h5 style="color:#54457F">
      <blockquote><strong>3.</strong> Any kind of Abusive and Bad language is strictly not allowed.

    </h5>


    <h5 style="color:#54457F">
      <blockquote><strong>3.</strong> This is the platform where you can share your thoughts,knowledge and anything you
        want to know.

    </h5>





  </div>





</div>





<!-----------------------option completed---------------------->


<footer>

  <%- include  ( "partials/footer") %>

</footer>

</body>

</html>
