<!-- views/partials/navbar.ejs -->
<navbar>
	<%- include  ( "partials/navbar") %>
</navbar>
<style>


.flex-container {
    /* height: 100%;
    padding: 0;
	margin-top:100px;
    /* display: -webkit-box; */
    /* display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex; */
    display: flex;
    align-items: center;
    justify-content: center;
}
/* .row {
    width: auto;
  } */



</style>



<div class="flex-container">
<div class="container">


	<div class="row">

<!-- 
		<div class="col-sm"> -->

			<h1><strong>      Welcome to DCommunity!!    </strong></h1><br>
			<h5 style="text-align: justify;">DCommunity is non-official Question-Answer Fourm for DDU Students.</h5>
			<p>Here You can Ask your any doubt regarding University,Education and Technology.</p>
			<p>You'll get answer by your own community.</p><br><br>

			<h5>There are some instructions, That you must follow.</h5>
			<p>Any kind of Abusive and Bad language is strictly not allowed.</p>
			<p>If we find something  like that then it won't display on website as well as your account will also blocked for this website.</p>
			<p>This is the platform where you can share your thoughts,knowledge and anything you want to know.</p>
		</div>


		<!-- <div class="col-sm-5">

			<img src="./images/pic.jpg" alt="DCommunity"/>


		</div> -->



	</div>

</div>



<!-----------------------option completed---------------------->


<footer>

	<%- include  ( "partials/footer") %>

</footer>

</body>

</html>