<!-- views/partials/navbar.ejs -->
<navbar>
	<%- include  ( "partials/navbar") %>
</navbar>


<div class="container">

	<div class="card">

		<div class="row">

			<div class="column">
				<div class="card">
					<a href="#">
						<h3 style="color:#000000">Experience</h3>
					</a>
					<p></p>
					<p></p>

				</div>
			</div>

			
			<div class="column">
				<div class="card">
					<a href="#">
						<h3 style="color:#000000">Tech Facts</h3>
					</a>
					<p></p>
					<p></p>

				</div>
			</div>

			<div class="column">
				<div class="card">
					<a href="#">
						<h3 style="color:#000000">Alumni</h3>
					</a>

					<p></p>
					<p></p>

				</div>
			</div>

		</div>


		<div class="row">

			<div class="column">

				<div class="card">
					<a href="#">
						<h3 style="color:#000000">Article Writing</h3>
					</a>

					<p></p>
					<p></p>

				</div>
			</div>

			<div class="column">
				<div class="card">
					<a href="#">
						<h3 style="color:#000000">Reviews</h3>
					</a>

					<p></p>
					<p></p>

				</div>
			</div>

			<div class="column">
				<div class="card">
					<a href="#">
						<h3 style="color:#000000">DDU</h3>
					</a>

					<p></p>
					<p></p>
				</div>
			</div>

		</div>


	</div>
</div>



<!-----------------------option completed---------------------->


<footer>

	<%- include  ( "partials/footer") %>

</footer>

</body>

</html>