<!DOCTYPE html>
<html lang="en">
<head>
  <title>ASKDDU</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   <link  rel="stylesheet" href="style/style.css">

</head>




<body>



<!---------navbar------------------>


<div class="navbar">
<nav class="navbar navbar-expand-md bg-dark navbar-dark  fixed-top">

	 <a class="navbar-brand" href="#">
    <!--<img src="images/1.jpg" alt="Logo" style="width:40px;">-->
  </a>
	
  <a class="navbar-brand " href="#">Ddu Community</a>
  
 	
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
  
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
  
    <ul class="navbar-nav">
	 <li class="nav-item">
        <a class="nav-link" href="#">Article</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Questions</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Alumni</a>
      </li>  

		  <li class="nav-item">
        <a class="nav-link" href="#">Login</a>
      </li>  

		  <li class="nav-item">
        <a class="nav-link" href="#">Signup</a>
      </li>  


		<li class="nav-item">
			</li>
    </ul>
		
					

  </div>  
</nav>
<br>
</div>
<!-------------navbarcompleted ---------------------->

<!-----------------------Login ---------------------->

<br><br><div class="container">

<div class=" col-sm-12">

<h4 class="display-3"><blockquote>Login</blockquote></h4>
<div class="login">


  <form>
  <!-------first row----------------------------->
  <div class="form-row">
  
	 
  <div class="col-md-6">
  <div class="form-group">
    <label for="student_id">EnterId</label>
    <input type="text" class="form-control" id="UserId" aria-describedby="student_id" placeholder="Enter UserId"   pattern=".{10}" title="Enter proper id" required>
    
  </div>
  </div>
  
  </div>
  
  <div class="form-row">
  
  <div class="col-md-6">

  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" id="spassword" placeholder="Password" pattern=".{6,}" title="Six or more characters" required>
  </div>
  </div>
  
  

</div>
<div class="row">
<div class="form-group col-md-6">
<button type="submit" class="btn btn-primary" id="submit">Submit</button>
</div>
</div>
<div class="row">
 <div class="form-group col-md-6">
<a href="#">Forgot- password</a>
</div>
</div>

<div class="row">
 <div class="form-group col-md-6">
<a href="#">Register</a>
</div>
  </div>
  
</form>
  
  
  </div>
  </div>
  </div>




<!-----------------------Login completed---------------------->

	<!--footer start----------->
	 <br><br><footer class="page-footer font-small blue">


	<div class="jumbotron jumbotron-fluid">

	  <div class="container">
	  
		<h1 class="display-4"></h1>
		<div class="row">
		
			<div class="col-6 col-md-3">
			<h4> Contact Us</h4>
			<a href="#">Call <i class="fa fa-phone"></i> </a><br>
			<a href="#">Email <i class="fa fa-envelope"></i></a><br>

			</div>
		
			<div class="col-6 col-md-3">
			<h4> Follow us</h4>
			<a href="#">Facebook  <i class="fa fa-facebook"></i></a><br>
			<a href="#">Instagram  <i class="fa fa-instagram"></i></a><br>
			<a href="#">Github <i class="fa fa-github"></i></a><br>
			<a href="#">Linkedin <i class="fa fa-linkedin"></i></a><br><br>



			</div>
			<div class="col-6 col-md-3">
			<h4> About US</h4>
			<a href="#">Contact</a><br>
			<a href="#">Team</a><br>

			</div>
		
		<div class="col-6 col-md-3">
			<h4> Links</h4>
			<a href="index.html">Home</a><br>
			<a href="askquestion.html"> Ask Question</a><br>
			<a href="answer.html">Answers</a><br>
			<a href="q_a.html"> List Questions</a><br>
			<a href="questionlook.html">Q_A Section</a><br>
			<a href="signup.html">SignUp</a><br>
			<a href="login.html">Login</a><br>
			<a href="alumni.html">About</a><br>

			</div>
		

		</div>
		
		
		
		
		  <div class="footer-copyright text-center py-3">© 2019 Copyright:
		  <a href="https://github.com/DevanshuBrahmbhatt/"> DDUCommunity</a>
		</div>
		 </div>
	</div>

		<!-- Copyright -->
		  <!-- Copyright -->

	  </footer>



<!---footer complete--------->

  <script src="js/script.js"></script>
</body>
</html>


