
<%- include  ( "partials/navbar") %>

<!-----------------------question ---------------------->


<div class="container">

<br><h4 class="display-3"><blockquote>Q-A</blockquote></h4>
<!--------first question ----------->
	<div class="card">
	<div class="card-header">
	<h4 class="text-left"> Question</h4>
		</div>
		
	<div class="card-body">
		<blockquote class="blockquote text-left">
		<p class="mb-0">Why we required Js in 2019?</p>
		<footer class="blockquote-footer">Asked by <cite title="Source Title">DevanshuBrahmbhatt</cite></footer>
		</blockquote>
	</div>
		
		<div class="card-footer">
		 
		  <a href="#" class="btn btn-primary">Share</a>
		</div>
	</div>

<!---first complete-------------->
<div class="card">
	<div class="card-header">
	<h4 class="text-left">Answer</h4>
	
		</div>
		
	<div class="card-body">
		<blockquote class="blockquote text-left">
		<p class="mb-0">Because it the most important tool in backend </p>
		<footer class="blockquote-footer">Answerd by <cite title="Source Title">Prof.Mukesh Goswami</cite></footer>
		</blockquote>
	</div>
		
		<div class="card-footer">
		   <a href="#" class="btn btn-primary">ReadMore</a>
		  <a href="#" class="btn btn-primary">Share</a>
		</div>
	</div>


<div class="card">
	<div class="card-header">
	<h4 class="text-left">Answer</h4>
	
		</div>
		
	<div class="card-body">
		<blockquote class="blockquote text-left">
		<p class="mb-0">Used in validation</p>
		<footer class="blockquote-footer">Answerd by <cite title="Source Title">Ramya Surti (CE 5th sem)</cite></footer>
		</blockquote>
	</div>
		
		<div class="card-footer">
		   <a href="#" class="btn btn-primary">ReadMore</a>
		  <a href="#" class="btn btn-primary">Share</a>
		</div>
	</div>




</div>
<%- include  ( "partials/footer") %>

</body>
</html>


