<%- include  ( "partials/navbar") %>

<!-----------------------question ---------------------->


<div class="container">

<br><h4 class="display-3"><blockquote>Questions</blockquote></h4>
<!--------first question ----------->
	<div class="card">
	<div class="card-header">
		</div>
		
	<div class="card-body">
		<blockquote class="blockquote text-left">
		<p class="mb-0">Why we required Js in 2019?</p>
		<footer class="blockquote-footer">Asked by <cite title="Source Title">DevanshuBrahmbhatt</cite></footer>
		</blockquote>
	</div>
		
		<div class="card-footer">
		 <a href="answer.html" class="btn btn-primary">Answer</a>
		  <a href="#" class="btn btn-primary">Share</a>
		</div>
	</div>

<!---first complete-------------->


<!--------first question ----------->
	<div class="card">
	<div class="card-header">
		</div>
		
	<div class="card-body">
		<blockquote class="blockquote text-left">
		<p class="mb-0">Why we required Js in 2019?</p>
		<footer class="blockquote-footer">Asked by <cite title="Source Title">DevanshuBrahmbhatt</cite></footer>
		</blockquote>
	</div>
		
		<div class="card-footer">
		 <a href="#" class="btn btn-primary">Answer</a>
		  <a href="#" class="btn btn-primary">Share</a>
		</div>
	</div>

<!---first complete-------------->

<!--------first question ----------->
	<div class="card">
	<div class="card-header">
		</div>
		
	<div class="card-body">
		<blockquote class="blockquote text-left">
		<p class="mb-0">Why we required Js in 2019?</p>
		<footer class="blockquote-footer">Asked by <cite title="Source Title">DevanshuBrahmbhatt</cite></footer>
		</blockquote>
	</div>
		
		<div class="card-footer">
		 <a href="#" class="btn btn-primary">Answer</a>
		  <a href="#" class="btn btn-primary">Share</a>
		</div>
	</div>

<!---first complete-------------->

<!--------first question ----------->
	<div class="card">
	<div class="card-header">
		</div>
		
	<div class="card-body">
		<blockquote class="blockquote text-left">
		<p class="mb-0">Why we required Js in 2019?</p>
		<footer class="blockquote-footer">Asked by <cite title="Source Title">DevanshuBrahmbhatt</cite></footer>
		</blockquote>
	</div>
		
		<div class="card-footer">
		 <a href="#" class="btn btn-primary">Answer</a>
		  <a href="#" class="btn btn-primary">Share</a>
		</div>
	</div>

<!---first complete-------------->

<!--------first question ----------->
	<div class="card">
	<div class="card-header">
		</div>
		
	<div class="card-body">
		<blockquote class="blockquote text-left">
		<p class="mb-0">Why we required Js in 2019?</p>
		<footer class="blockquote-footer">Asked by <cite title="Source Title">DevanshuBrahmbhatt</cite></footer>
		</blockquote>
	</div>
		
		<div class="card-footer">
		 <a href="#" class="btn btn-primary">Answer</a>
		  <a href="#" class="btn btn-primary">Share</a>
		</div>
	</div>

<!---first complete-------------->

<!--------first question ----------->
	<div class="card">
	<div class="card-header">
		</div>
		
	<div class="card-body">
		<blockquote class="blockquote text-left">
		<p class="mb-0">Why we required Js in 2019?</p>
		<footer class="blockquote-footer">Asked by <cite title="Source Title">DevanshuBrahmbhatt</cite></footer>
		</blockquote>
	</div>
		
		<div class="card-footer">
		 <a href="#" class="btn btn-primary">Answer</a>
		  <a href="#" class="btn btn-primary">Share</a>
		</div>
	</div>

<!---first complete-------------->


</div>

<!-----------------------question completed---------------------->



<%- include  ( "partials/footer") %>

</body>
</html>


